.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.navbar {
  background-color: #e69cf3;
  overflow: hidden;
  border-radius: 50px;
  box-shadow: white -10px 10px 10px;
}
.link-txt{
  color: #000;
  text-decoration: none;
  font-size: 20px;
  padding: 14px 16px;
  display: block;
}
h1{
  margin-left: 40px;
  font-size: 50px;
}

.titulo{
  font-size: 50px;
  color: black;
} 